# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Auth
SIWE_SESSION_SECRET="siwe-quickstart-secret"

DATABASE_URL="file:./sqlite/dev.db"

# Get projectId from https://cloud.reown.com
REOWN_PROJECT_ID=

# Get projectId from https://www.alchemy.com/
ALCHEMY_API_JEY=